a { text-decoration:none; }

body, h1, h2, h3, h4, h5, form, img, table {
    margin:0;
    padding:0;
    border:0;
}

body {
    margin:0;
    padding:0;
    font-family:arial;
    /*
    background-image: url('/resources/images/bg_star.png');
    background-repeat: repeat-x repeat-y;
    background-attachment:fixed;
    background-image: url('/resources/images/Texture0203.jpg');
    background-repeat: repeat-x repeat-y;
    */
    background-image: url('/resources/images/Texture0203.jpg');
    background-repeat: repeat-x repeat-y;
    background-attachment: fixed;
}

.page {
    position:relative;
    width:100%;
    margin:0;
    padding:0;
}

.nav-container {
    position:fixed;
    width:100%;
    /*
    background-image: url('/resources/images/bg_star.png');
    background-repeat: repeat-x repeat-y;
    */
    background-color:rgba(255, 255, 255, .7);
    top:0;
    left:0;
    z-index:2;
    border-bottom:1px solid #ccc;
}

.nav-item-inner, .nav-item-inner-last, .nav-container {
   height:40px;
   font-family: 'Londrina Sketch';
   font-size:25px;
   color:#9932CC;
   /*color: #49E20E;*/
}

.fancy-font {
   font-family: 'Londrina Sketch';
   font-size:25px;
   color:#9932CC;
}

.nav-container-spacer {
   position:relative;
   height:40px;
   background-color:#fff;
   margin-bottom: 15px;
}

.nav {
    box-shadow:2px 2px 7px rgba(9, 9, 9, .5);
}

.content-container {
    position:relative;
    width:1080px;
    margin:auto;
    z-index:1;
}

.content-border {
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}

.nav-item {
   position:relative;
   display:block;
   width:25%;
   float:left;
}

.nav-container a, .nav-container a:visited {
   text-decoration:none;
   color:#999;
   font-size:14px;
}

.nav-item-inner, .nav-item-inner-last {
   border-left:1px dashed #ccc;
   text-align:center;
   line-height: 40px;
}

.nav-item-inner-last {
   border-right:1px dashed #ccc;
}

.pics-grid {
   width:990px;
   margin:auto;
   margin-bottom:15px;
}